# Source Folders
src/
tests/

# Test dist folders
dist/tests/

# This folder can exists if the integration test fails
docs/

# Other files (only used in the repo)
tsconfig.json
tslint.json
*.md
.travis.yml
.vscode
img/

# Spec files
*.spec.js
*.spec.map.js
*.spec.d.ts

# Mock files
*.mock.js
*.mock.map.js
*.mock.d.ts

