<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Opineo, Feedback Collection and Polling Widget - Documentation</title>
<link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/prettify.css">
</head>
<body data-post="http://www.egrappler.com/free-product-documentation-template/" style="margin-top:45px">
<nav>
  <div class="container">
    <h1>Doc</h1>
    <div id="menu">
      <ul class="toplinks">
        <li><a href="http://www.greepit.com/Opineo/admin-form.html">Opineo Website </a></li>
        <li><a href="http://www.egrappler.com/">eGrappler</a></li>
        <li><a href="../doc-template-red/docs.html">Red Theme</a></li>
        <li><a href="../doc-template-green/docs.html">Green Theme</a></li>
      </ul>
    </div>
    <a id="menu-toggle" href="#" class=" ">&#9776;</a> </div>
</nav>
<header>
  <div class="container">
    <h2 class="docs-header"> Opineo - User Documentation</h2>
  </div>
</header>
<section>
  <div class="container">
    <ul class="docs-nav" id="menu-left">
      <li><strong>Scripts</strong></li>

      {% for script in scripts %}
          <li><a href="#{{ script.name }}">{{ script.name }}</a></li>
      {%- endfor %}
    </ul>
    <div class="docs-content">
      <h2> Getting Started</h2>
      <h3 id="welcome"> Welcome</h3>
      <p> Are you listening to your customers?</p>

      {% for script in scripts %}
          <h3 id="{{ script.name }}">{{ script.name }}</h3>
          <ul>
          {% for param in script.params %}
              <li>
                  <b>{{ param.name }}</b>
                  {% if param.type %}
                     ({{ param.type }})
                  {% endif %}
                  {{ param.description}}
              </li>
          {% endfor %}
          </ul>
          <p>{{ script.description }}</p>
          {% if script.example %}
            <pre class="prettyprint">{{script.example}}</pre>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="vibrant centered">
  <div class="container">
    <h4>{{ footer }}</h4>
  </div>
</section>
<footer>
  <div class="container">
    <p> {{ copyright }} </p>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/prettify/prettify.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="js/layout.js"></script>
<script src="js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
<script src="js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
</body>
</html>
