{# 
This is the main file for the onepage design. 
This njk template page extends the "paren.njk" template page.
The parent.njk file contains all the outline html (head, body, scripts, css, etc)
This file only overrides the block called "content" and loops over each script 
in the page showing them one after another.
#}


{% extends "parent.njk" %}

{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {# Main header of the page #}
    <h1>{{ page.project.name }} Documentation</h1>

    {# Prints the table of contents #}
    <ul id="table-of-contents">
    {% for script in page.scripts %}
        <a href="#{{ script.name }}"><li>{{ script.name }}</li></a>
    {% endfor %}
    </ul>

    {# Loops over all the scripts of the project #}
    {% for script in page.scripts %}

        {# Prints an horizontal separator line #}
        <hr />

        {# include the fragment njk file with the HTML to display a SINGLE gml function documentation #}
        {% include "script-fragment.njk" %}

    {% endfor %}

{% endblock content %}


