<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.project.name }} Docs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div class="container">
    <h1>{{ page.project.name }} Documentation</h1>

    {% for script in page.scripts %}
        <hr />
        <h3 id="{{ script.name }}">{{ script.name }}</h3>

        {% if script.params.length > 0 %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped js-options-table js-options-table">
                    <thead><tr><th>Argument name</th><th>Type</th><th>Description</th></tr></thead>
                    <tbody>
                        {% for param in script.params %}
                            <tr>
                                <td>{{ param.name }}</td>
                                <td>{{ param.type }}</td>
                                <td>{{ param.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {{script.description}}

        {% if script.return %}
            <p><b>Returns:</b> ({{ script.return.type }}) {{ script.return.description }} </p>
        {% endif %}

        {% for example in script.examples %}
            <p><b>Example: {{ example.caption }}</b></p>
            <pre class="lang-js"><code>{{ example.code }}</code></pre>
        {% endfor %}

    {% endfor %}

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

</body>
</html>
