{#
This is the page for EACH script in the extension.
This njk template page extends the "parent.njk" template page.
The parent.njk file contains all the outline html (head, body, scripts, css, etc)
This file only overrides the block called "content" and shows the single script 
#}

{% extends "parent.njk" %}

{# 
Creates a new variable called script (that is ussed in script-fragment.njk) 
and set it to the value of page.script. It represents the current script
#}
{% set script = page.script %}

{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {# Main header of the page #}
    <h1>{{ page.project.name }} Documentation</h1>
    
    <a href="index.html">Back to index page</a>

    {% include "script-fragment.njk" %}

{% endblock content %}