{% extends "src/parent.njk" %}

{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {% include "src/fragments/breadcrumb.njk" %}

    <h1 id="{{ folder.anchor }}">{{ folder.name }}</h1>
    
    {% if folder.description %}
        {{ folder.description }}
        <hr>
    {% endif %}

    {% if printFolderToc %}
        <p>Folder contents:</p>
        {# Prints the table of contents #}
        <ul class="flex-column">
            {% for subresource in folder.children %}
                <li>
                    <a class="nav-link" href="{{ linkTo(subresource) }}">
                        {% if subresource.type === "folder" %}
                            <i class="material-icons float-left mr-3">folder</i>
                        {% endif %}
                        {{ subresource.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for subresource in subresources %}
        {% if subresource.type === "folder" %}
            {% if subresource.description %}
                <h1 id="{{ subresource.anchor }}">{{ subresource.name }}</h1>
                {{ subresource.description }}
            {% endif %}
        {% elif subresource.type === "script" %}

            {% set script = subresource %}
            {% include "src/fragments/script.njk" %}
            
        {% endif %}

        {# Prints an horizontal separator line #}
        <hr />
    {% endfor %}


    {% include "src/fragments/bottom-navigation.njk" %}

{% endblock content %}


