{% extends "src/parent.njk" %}


{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {% include "src/fragments/breadcrumb.njk" %}

    <h1>{{ folder.name }}</h1>

    {{ folder.description }}

    {# Prints the table of contents #}
    <ul class="flex-column">
        {% for subresource in folder.children %}
            <li>
                {% if subresource.type === "folder" %}
                    <a class="nav-link" href="{{ linkTo(subresource) }}">Folder: {{ subresource.name }}</a>
                {% elif subresource.type === "script" %}
                    <a class="nav-link" href="{{ linkTo(subresource) }}">{{ subresource.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% include "src/fragments/bottom-navigation.njk" %}

{% endblock content %}


