{% extends "src/parent.njk" %}

{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {# Prints the table of contents #}
    <ul class="nav flex-column">
        {% for script in subresources %}
            <li class="nav-item">
                <a class="nav-link" href="{{ linkTo(script) }}">{{ script.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {# Loops over all the scripts of the project #}
    {% for script in subresources %}

        {# Prints an horizontal separator line #}
        <hr />
        
        {% include "src/fragments/script.njk" %}

    {% else %}

        <p> This project has no documented scripts </p>

    {% endfor %}

{% endblock content %}


