{% extends "src/parent.njk" %}
{% import "src/macros/script.njk" as scriptMacro %}
{% import "src/macros/breadcrumb.njk" as breadcrumbMacro %}

{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {# Main header of the page #}
    <h1>{{ project.name }} Documentation</h1>

    {{ breadcrumbMacro.breadcrumb(element) }}

    <h2>{{ element.name }}</h2>

    {{ element.description }}
    
    {# Prints the table of contents #}
    <ul class="nav flex-column">
        {% for res in element.children %}
            <li class="nav-item">
                {% if res.type === "folder" %}
                    <a class="nav-link" href="{{ linkTo(res) }}">Folder: {{ res.name }}</a>
                {% elif res.type === "script" %}
                    <a class="nav-link" href="#{{ res.name }}">{{ res.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {# Loops over all the scripts of the folder #}
    {% for res in element.children %}
        {% if res.type === "script" %}
            {# Prints an horizontal separator line #}
            <hr />
            
            {{ scriptMacro.show(res) }}

        {% endif %}
    {% else %}

        <p> This project has no documented scripts </p>

    {% endfor %}

{% endblock content %}


