{% extends "src/parent.njk" %}

{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {% if element.type == "folder" %}
        {# If the current element is a folder, prints the table of contents #}
        <ul class="nav flex-column">
            {% for resource in element.all %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ linkTo(resource) }}">{{ resource.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% elif element.type == "script" %}
        {# If the current element is a script, prints the script documentation #}
        <a href="{{ linkTo(project.root) }}">Back to index page</a>

        {% include "src/fragments/script.njk" %}

    {% endif %}
   

{% endblock content %}


