{% extends "src/parent.njk" %}

{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {% include "src/fragments/breadcrumb.njk" %}

    {# If the current element is a script, prints the script documentation #}
    {#<a href="{{ linkTo(project.root) }}">Back to index page</a>#}

    {% include "src/fragments/script.njk" %}

    {% include "src/fragments/bottom-navigation.njk" %}

{% endblock content %}


