{% extends "src/parent.njk" %}
{% import "src/macros/script.njk" as scriptMacro %}

{# Overrides the block named "content" that is declared in the parent.njk file #}
{% block content %}

    {# Main header of the page #}
    <h1>{{ project.name }} Documentation</h1>

    {# Prints the table of contents #}
    <ul class="nav flex-column">
        {% for script in project.root.all %}
            <li class="nav-item">
                <a class="nav-link" href="#{{ script.name }}">{{ script.name }}</a>
            </li>
        {% endfor %}
    </ul>

    {# Loops over all the scripts of the project #}
    {% for script in project.root.all %}

        {# Prints an horizontal separator line #}
        <hr />
        
        {{ scriptMacro.show(script) }}

    {% else %}

        <p> This project has no documented scripts </p>

    {% endfor %}

{% endblock content %}


