{% macro breadcrumb(element) %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{{ item(element, element) }}
		</ol>
	</nav>
{% endmacro %}

{% macro item(element, activeElement) %}

	{# Call item() macro recursively #}
	{% if element.parent %}
		{{ item(element.parent, activeElement)}}
	{% endif %}

	{% if element === activeElement %}
		<li class="breadcrumb-item active" aria-current="page">{{ element.name }}</li>
	{% else %}
		<li class="breadcrumb-item"><a href="{{ linkTo(element) }}">{{ element.name }}</a></li>
	{% endif %}

{% endmacro %}